.wrapper{
  display: flex;
  justify-content: left;
  gap: 30px;
  .card{
    padding: 10px;
    background-color: #fff;
    text-align: center;
    width: 300px;
    height: 500px;
    border-radius: 20px;
    position: relative;
    .title{
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 10px;
    }
    .description{
      margin-top: 10px;
      text-align: left;
      margin-bottom: 10px;
    }
    .price{
      position: absolute;
      bottom: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: bold;
      font-size: 18px;
      button{
        color: orangered;
        background-color: #101010;
        padding: 5px;
        width: 80px;
        border-radius: 20px;
        margin-left: 125px;
      }

    }
  }
}
